.dropdown-menu {
    width: 250px;
    position: absolute;
    top: 60px;
    list-style: none;
    text-align: start;
    box-shadow: 5px 3px 30px 3px grey;
}

.dropdown-menu li {
    cursor: pointer;
}

.dropdown-menu li:hover {
    color: white;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
}

.dropdown-link:hover {
    color: #d11507;
}

.dropdown-link:active {
    color: white;
}

@media screen and (max-width: 960px) {
    .dropdown-menu {
        width: 150px;
        position: absolute;
        top: 160px;
        list-style: none;
        text-align: start;
    }

    .dropdown-menu li {
        background: #e9e9e9;
        cursor: pointer;
    }

    .dropdown-menu li:hover {
        background: #d11507;
        color: white;
    }

    .dropdown-link:hover {
        color: white;
    }
    
    .dropdown-link:active {
        color: white;
    }

    .dropdown-menu.clicked {
        display: none;
    }

    .dropdown-menu-cars.clicked {
        display: none;
    }

    .dropdown-menu-commercial.clicked {
        display: none;
    }
}