* {
  font-family: monospace;
}

.carousel {
  position: relative;
  padding: 0;
  margin: auto;
  height: 50vh;
  width: 60%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  list-style: none;
  touch-action: cross-slide-x;
}

.carousel-item {
  text-align:center;
  padding: 0 2rem;
  min-width: 30%;
  transition: .5s;
  min-height: 300px;
  transition: transform 1s;
}

.image {
  height: 25vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 5px;
}

.prev-item {
  display: flex;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.next-item {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding-left: 5rem;
}

.close-item {
  display: none;
}

i {
  font-size: 40px;
}

.nickname {
  font-size: 1.4rem;
}

.birth {
  color: grey;
  font-size: 1rem;
}

.name {
  font-size: 1.2rem;
}

img {
  margin-bottom: 20px;
}

p {
  margin: 0.2rem 0;
}

.title {
  font-size: 1.6rem;
  color: brown;
  margin-bottom: 5rem;
  min-height: 48px;
}

.characters {
  margin-top: 5rem;
  text-align: left;
}

.mobile-image {
  height: 15vh;
  width: 10vh;
}

.mobile-nickname {
  font-size: 0.9rem;
}

.mobile-birth {
  font-size: 0.6rem;
}

.title-mobile {
  font-size: 1rem;
}

.characters-mobile {
  font-size: 0.5rem;
}

.carousel-mobile {
  min-width: 25%;
}

.mobile {
  font-size: 0.6rem;
}
