* {
  font-family: monospace;
}

.carousel {
  position: relative;
  padding: 0;
  margin: auto;
  height: 50vh;
  width: 60%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  list-style: none;
}

.carousel-item {
  text-align:center;
  padding: 0 2rem;
  min-width: 30%;
  transition: .5s;
  min-height: 300px;
}

.image {
  height: 25vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 5px;
}

.prev-item {
  display: flex;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-item:hover {
  color: maroon;
}

.next-item:hover {
  color: maroon;
}

.next-item {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  padding-left: 5rem;
}

i {
  font-size: 40px;
}

.nickname {
  font-size: 1.6rem;
}

.birth {
  color: grey;
  font-size: 1rem;
}

.name {
  font-size: 1.2rem;
}

img {
  margin-bottom: 20px;
}

p {
  margin: 0.2rem 0;
}

.title {
  font-size: 1.6rem;
  color: brown;
  margin-bottom: 5rem;
  min-height: 48px;
}

.characters {
  margin-top: 5rem;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .carousel-item {
    min-width: 25%;
  }

  .image {
    height: 15vh;
    width: 10vh;
  }

  .nickname {
    font-size: 0.9rem;
  }
  
  .birth {
    color: grey;
    font-size: 0.6rem;
  }
  
  .name {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1rem;
  }
  
  .characters {
    font-size: 0.5rem;
  }

  p {
    font-size: 0.6rem;
  }
}