@import url(https://fonts.googleapis.com/css?family=Raleway);

body { 
	font-family: 'Raleway', sans-serif; 
	font-size: 20px; 
}

.header-container {
    display: block;
    position: absolute;
    width: 320px;
    height: 55px;
    left: 50%;top: 50%;
    margin-left: -160px;
    margin-top: -87px;
}

/* Select style here */

select {
    width: 80%;
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid currentcolor; 
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    padding: 15px 5px 15px 25px;
  }

select:hover {
	background-color: transparent;
    color: black;
    font-size: 0.7em;
	padding: 15px 5px 15px 25px;
}

select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 50px;
	cursor: pointer;
}